@import "framework";

// Vars

$body-size: 18px;
$ref-width: 1280px;
$fg-color: #000000;
$bg-color: #ffffff;
$body-font-family: sans-serif;

// Global

body {
  background-color: $bg-color;
  color: $fg-color;
  font-family: $body-font-family;
  font-size: vw($body-size);
  @include mobile-portrait {
    font-size: vw($body-size);
  }
}

